*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body{
    background-color: #F7F4EA;
    cursor: none;
}

.inner-cursor{
    position: fixed;
    left: 50px;
    height: 50px;
    width: 50px;
    transform: translate(-50%, -50%);
    background-color: #19a9d2;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
}

 .inner-cursor.grow{
    width: 70px;
    height: 70px;
    transition: width 0.5s, height 0.5s;
    background-color: #e0e1e3;
}

