
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: none;
    list-style: none;
    line-height: normal;
    
    
}

:root{
    --backgroundclr: #F7F4EA;
    --backgroundclrinvrted: #000000;
    --textclr: #000000;
    --textclrinvrted: #f7f4ea;
    --cursorclrinvrted: #19a9d2;
}

/* @media (prefers-color-scheme: light) {
    body{
        background-color: var(--backgroundclr);
    }
    svg{
        fill: var(--backgroundclr);
        position: relative;
    }

    .card{
        background-color: var(--backgroundclr);
    }

    /* .socialsdm{
        display: none;
    }

    .dividerdm{
        display: none;
    } 
}*/


/* @media (prefers-color-scheme: dark) {
    body{
        background-color: #333;
    }
    a, p, h1, h2, h3{
        color: var(--textclrinvrted);
        fill: var(--backgroundclr);
    }

    svg{
        fill: var(--backgroundclr);
        stroke: var(--backgroundclr);
    }
 
    .socials{
        display: none;
    }
    .divider{
        display: none;
    }
    .card{
        background-color: #000000;
    }
} */

/* cursor */

.inner-cursor{
    position: fixed;
    left: 20px;
    height: 20px;
    width: 20px;
    transform: translate(-50%, -50%);
    background-color: #19a9d2;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
}

 .inner-cursor.grow{
    width: 40px;
    height: 40px;
    transition: width 0.5s, height 0.5s;
    background-color: #e0e1e3;
}


/* body */
html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--backgroundclr);
    padding: 10px;
}




.card{
    position: relative;
    height: 600px;
    width: 450px;
    overflow: auto;
    background-color: var(--backgroundclr);

border: 5px solid var(--textclr);
border-radius: 15px;

 & p{
    position: relative;
    padding: 15px;
    top: -20px;
    max-width: 60ch;
    font-size: 16px;

    
}
& h1{
    position: relative;
    padding-left: 15px;
    font-size: 30px;
    top: -80px;
}
& a{
    color: var(--textclr);
}
}


 .socials /*.socialsdm */{
    margin-top: 2em;
}

 .socials ul /*.socialsdm ul */{ 
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1.5em;

    & li{
        cursor: pointer;
        transition: .4s;
        font-size: 2.5em;
    }



    & :hover{
        cursor: pointer;
        transform: scale(1.2);
    }
}


.bio{
  & a :hover{
    cursor: pointer;
  }
}

.image {
    display: flex;
    justify-content: end;
    position: relative;
   top: -2.1em; 
    margin-right: 25px; 
    z-index: 1;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: transform 0.7s;
}

img:hover {
    transform: scale(1.6);
}


@media only screen and (max-width: 376px) {
    body {
      padding: 7px;
    }
    img:hover {
        transform: scale(1.3);
    }
    .image {
        margin-right: 20px; 
      
    }
  }